html {
  background: url("https://i.pinimg.com/originals/7d/8b/ce/7d8bcebe6b1132d6dd1b2f87b3c92c83.png");
  background-size: cover;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.253); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.hand {
  width: 50%;
  height: 10px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%; /*allows us to rotate at a certain position on the x axis*/
  transform: rotate(90deg);
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0, 2.53, 0.46, 1.03);
}
